@import "variables.scss";
@import "object/form.scss";

header,
footer {
  display: none;
}

main {
  @include flex(center, center, row);
  height: 100vh;

  .row {
    width: 100%;

    .logo-area {
      background-color: $orange;

      img {
        width: 280px;
        border: 5px solid $white;
        border-radius: 50%;
      }
      h1 {
        margin-top: 25px;
        font-family: "Domine";
        color: $white;
        text-decoration: underline;
      }
    }

    .logo-area,
    .form-div {
      @include flex(center, center, column);
      height: 100vh;

      h2 {
        font-family: "Domine";
        color: $blue;
        text-decoration: underline;
      }

      .second-col {
        padding-right: 0;
      }
      .inputPassword-div {
        background-color: $white;
      }
    }

    form{
        i{
            width: 20px;
        }
    }
  }
}
