<footer>
    <div class="creator">
        <p>Desenvolvido por:</p>
        <p><a href="">Luis Fernando Alves de Lima</a></p>
        <p><a href=""><i class="fa-brands fa-github"></i></a></p>
    </div>
</footer>