<header>
  <a href="/">
    <img src="/img/icon/brainstormLogo.png" alt="Logo do Brainstorm" />
  </a>
  <nav class="top-navbar">
    <ul type="none">
      {{#if user}}
      
      {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="">Agendamentos</a></li>
        <li><a href="">Planos</a></li>
        <li><a href="/user/perfil">Perfil</a></li>
      {{/if}}
    </ul>
  </nav>
</header>