<main>
  <div class="container mt-3">
    <h1>Brainstorming: a place to coworking</h1>
    <div class="search-bar-div">
      <div class="search-bar">
        <form action="/search" method="get">
          <input type="text" name="" id="" placeholder="Buscar" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <section class="col-sm-12 col-md-8">
        {{! Carousel }}
        <div id="carousel-de-destaques" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel-de-destaques"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel-de-destaques"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel-de-destaques"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-sala-div">
                <div class="info-sala-div">
                  <div class="info-sala">
                    <h2>Nome do Lugar</h2>
                    <h3>Av. asldalsdlakshlskh</h3>
                  </div>
                  <div class="place-stars">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  </div>
                </div>
                <button><a href="">CONHECER</a></button>

              </div>
            </div>
            <div class="carousel-item">
              <div class="img-sala-div">

              </div>
            </div>
            <div class="carousel-item">
              <div class="img-sala-div">
                <div class="place-stars">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel-de-destaques"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel-de-destaques"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <aside class="col-sm-12 col-md-4">
        <div class="categories-div">
          <h2>Categorias</h2>
          <ul type="none">
            <li>
              <a href="">
                <i class="fa-solid fa-print"></i>
                <strong>Escritório</strong>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-print"></i>
                <strong>Escritório</strong>
              </a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
    {{!-- Últimas salas --}}
    <section class="slider-section mt-3">
      <h2>Lugares próximos</h2>
      <hr>
      <div class="slider">
        <div class="slider-btn-left" id="slider-lugares-proximos-btn-left">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="slide-salas swiper" id="slider-lugares-proximos">
          <div class="swiper-wrapper">
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="slider-btn-right" id="slider-lugares-proximos-btn-right">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </section>

    {{!-- Lugares Próximos --}}
    <section class="slider-section mt-5">
      <h2>Últimas salas adicionadas</h2>
      <hr>
      <div class="slider">
        <div class="slider-btn-left" id="slider-ultimas-salas-btn-left">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="slide-salas swiper" id="slider-ultimas-salas">
          <div class="swiper-wrapper">
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            {{! Card }}
            <div class="card swiper-slide">
              <div class="card-body">
                <img src="/img/salas/001.jpg" alt="" />
                <h3>Casa do Zá</h3>
                <h4>Av.Paulista</h4>
                <div class="grade">
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i><span
                  >(5)</span>
                </div>
                <button><a href="">Ver</a></button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="slider-btn-right"  id="slider-ultimas-salas-btn-right">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </section>
  </div>
</main>