<main>
  <div class="row">
    <div class="col-md-6 logo-area">
        <img src="img/icon/brainstormLogo.png" alt="">
        <h1>BRAINSTORM</h1>
    </div>
    <div class="col-md-6">
      <h2>BEM-VINDO</h2>
      <form action="" method="post">
        <h3>LogIn</h3>
        <div class="input-area">
          <label for="loginEmail">E-mail: </label>
          <input type="email" name="loginEmail" id="loginEmail" required/>
        </div>
        <div class="input-area">
          <label for="loginPassword">Senha: </label>
          <input type="password" name="loginPassword" id="loginPassword" required/>
        </div>
        <a href="">Esqueci minha senha</a>
        <button type="submit" class="btn-submit">ENTRAR</button>
      </form>
      <a href="/signin">Não possui conta? Cadastre-se aqui!</a>
    </div>
  </div>
</main>