<main>
  <div class="container">
    <form action="" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="img-profile-div">
            <div class="img-profile">
              <img src="/img/pictures/user.png" alt="Foto do usuário" id="userPicture"/>
            </div>
            <input type="file" name="userImage" id="userImage" />
            <span class="userImageText mt-2">nome da foto</span>
            <label for="userImage" class="userImageButton mt-2">Escolher Imagem</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>