<main>
    <div class="container">
        <div class="user-info">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="profile-info-div">
                        <div class="profile-picture">
                            <img src="/img/pictures/user.png" alt="Foto do usuário">
                        </div>
                        <div class="profile-info">
                            <div class="info-container">
                                <p><strong>Nome:</strong></p>
                                <p>meu nome</p>
                            </div>
                            <div class="info-container">
                                <p><strong>E-mail:</strong></p>
                                <p>meu e-mail</p>
                            </div>
                            <div class="info-container">
                                <p><strong>Contato:</strong></p>
                                <p>meu telefone</p>
                            </div>
                            <button><a href="">Editar <i class="fa-solid fa-pencil"></i></a></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="profile-plan-div">
                        <div class="profile-plan">
                            Plano bronze
                        </div>
                        <div class="plan-members">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="profile-history-div">
                        <div class="profile-history"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>